.modal_table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 0.5em;
}
.table-colgroup {
  display: table-column-group;
}
.table-col {
  display: table-column;
}
.col-1 {
  text-align: center;   
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

table td {
  text-align: center; 
    vertical-align: middle;
}

.flex1 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5%;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.info_box_table {
  display: inline-table;
  table-layout: fixed;
  width: 400px;
  height: 200px;
  border-radius: 8px;
  cursor: default;
  margin: 15px 25px;
}

.table-foot {
  cursor: pointer;
  background-color: rgb(224, 223, 223);
  border-radius: 4px;
  padding: 2px;
}

.table-foot i {
  color: #2e6da4;
}

/* Round the bottom footer corners */
.info_box_table .table-foot div:first-child{
  border-bottom-left-radius: 6px;
}

.info_box_table .table-foot div:last-child{
  border-bottom-right-radius: 6px;
  text-align: center;
}

.info_box_body {
  width: 400px;
  height: 200px;
}

.info_box1 {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
  border-bottom-left-radius: 6px;
}

.info_box2 {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.info_box3 {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.info_box1_row {
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}


.workspace {
  padding: 15px;
  margin-top: 25px;
}

.workspace h2 {
  font-weight: 500;
  font-size: 20px;
}

.pointer {
  width: fit-content;
  height: 40px;
  position: relative;
  background: #d9534f;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.pointer:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #eee;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #d9534f;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pointer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

#bookFlightButton {
  background-color: #5bc0de;
}

#createATLButton {
  margin-left: -2%;
}

#createATLButton::after {
  border-color: transparent transparent transparent #5bc0de;
}

#addflightButton {
  background-color: #5cb85c;
}

#closeATLButton {
  margin-left: -2%;
  background-color: #f0ad4e;
}

#closeATLButton:before {
  border-color: transparent transparent transparent #f0ad4e;
}

#closeATLButton:after {
  border-left: 20px solid #5cb85c;
}



.modal_header {
  padding: 15px;
  margin-left: 10px;
}


/* The Modal (background) */
.modal {
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transform: translateY(-200%);
    transition: all .6s ease-in-out;
  }

  .active {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal_formpage {
  padding: 15px;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.row {
  display: inline-block;
}

.form1  { display: table; }

.form1 p  { 
  display: table-row;  
}

.col {
  display: table-column;
}

.form1 label { 
  display: table-cell;
  text-align: right; 
  padding: 5px;
}

.form1 input, select, textarea { 
  display: table-cell; 
  padding: 10px;
  margin: 5px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid grey;
}

.add_button {
  padding: 5px;
  margin: 5px;
  float: right;
  
}

.add_button button {
    background-color:#337ab7;
    color: white;
    border-color: #2e6da4;
    font-size: 14px;
    padding: 6px 12px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;

}

.error {
  padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 200px;
    text-align: left;
    border-radius: 4px;
    background-color: #cc5c54;
    border: 1px solid transparent;
}

.info {
  padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 70%;
    text-align: left;
    border-radius: 7px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.info1 {
  margin-top: 20px;
}

.info1 p {
  margin: 8px;
  font-size: 15px;
}


@media only screen and (max-width: 976px) {
  .pointer span {
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
  }

}

@media only screen and (max-width: 1370px) {
  .form1 input, select, textarea {
    width: 200px;
  }
}

@media only screen and (max-width: 1145px) {
  .info_box_table{
    width: 350px;
    margin: 10px 20px;
  }

  .info_box1_row {
    font-size: 16px;
  }
}

.toggleVisibility {
  visibility: hidden
}